 @import "tailwindcss";
 /* Success Toast → Green */
.Toastify__toast--success {
  background: #16a34a !important;   /* green */
  color: #ffffff !important;         /* white text */
}

.Toastify__toast--success .Toastify__toast-icon svg {
  fill: #ffffff !important;          /* white icon */
}

/* Error Toast → Red */
.Toastify__toast--error {
  background: #dc2626 !important;    /* red */
  color: #ffffff !important;         /* white text */
}

.Toastify__toast--error .Toastify__toast-icon svg {
  fill: #ffffff !important;          /* white icon */
}

/* Simple rounded toast */
.Toastify__toast {
  border-radius: 8px !important;
  box-shadow: none !important;
}

/* White progress bar */
.Toastify__progress-bar--success,
.Toastify__progress-bar--error {
  background: #ffffff !important;
  opacity: 0.7 !important; /* optional: slightly soft white */
}




/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b transparent;
}
